<!DOCTYPE html>
<html>
<head>
  <title>Test Runner</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/lib/mocha/mocha.css" />
  <link rel="stylesheet" type="text/css" href="/lib/coffeebreak/styles.css">

  <script type="text/javascript" src="/lib/jquery.min.js"></script>
  {{!-- <script type="text/javascript" src="/lib/coffeebreak/coffeebreak.js"></script> --}}
  <script type="text/javascript" src="/lib/sinon/sinon.js"></script>
  <script type="text/javascript" src="/lib/expect/expect.js"></script>
  <script type="text/javascript" src="/lib/expect/sinon-expect.js"></script>
  <script type="text/javascript" src="/lib/mocha/mocha.js"></script>
  <script type="text/javascript">
    expect = SinonExpect.enhance(expect, sinon, 'was');
    mocha.setup({
      ui: 'bdd',
      ignoreLeaks: true
    });
  </script>

  {{#each libs}}
    <script type="text/javascript" src="{{this}}"></script>{{/each}}

  {{#each files}}
    <script type="text/javascript" src="{{this}}"></script>{{/each}}

  {{#each tests}}
    <script type="text/javascript" src="{{this}}"></script>{{/each}}


  <script type="text/javascript">
    window.onload = function() {
      if (window.mochaPhantomJS) {
        mochaPhantomJS.run();
      }
      else {
        
        var runner = mocha.run();
        console.log('Runner obj:', runner);

        runner.on('end', function(test){
          console.log('Test obj:', test);
        });
      }
    };
  </script>
</head>
<body id="testRunner">
<header id="coffeeBreakHeader"></header>
<div id="mocha"></div>
<footer>

</footer>
</body>
</html>