<!DOCTYPE html>
<html>
<head>
	<title>Projects</title>
	<link rel="stylesheet" type="text/css" href="/lib/coffeebreak/styles.css">
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/coffeebreak/coffeebreak.js"></script>
</head>
<body>
<header id="coffeeBreakHeader"></header>

</body>
</html>